h1{
    border: solid black 2px;
    width: 50%;
}

#outer{
    height: 400px;
    width: 400px;
    background-color: blueviolet;
}

#inner{
    height: 140px;
    width: 140px;
    background-color: aqua;
    margin:10%;
}