section{
    margin-top:100px;

}

div{
   height: 50px;
   width: 200px;
   margin: 60px;
   background-color: deepskyblue;
   border: 2px solid black;
   text-align: center;
   

}
div:nth-of-type(2n){
    background-color: aquamarine;

}


div::nth-of-type(3n){
    background-color: bisque;
}
#one{
    rotate: -40deg;

}
#two{
    rotate: -40deg;
    transform: scale(0.45,01);
}
#three{
    rotate: -40deg;
}
#four{
    rotate: -40deg;
    transform: skew(30deg);

}
#five{
    transform: rotate(30deg) translateX(150px);
}
