.box{
    width: 100px;
    height: 100px;
    border: 2px solid blueviolet;
    background-color: brown;
    
}
.one{
    background-color: antiquewhite;
    position: relative;
    z-index: -1;
    
}
.two{
    background-color: aqua;
    position: relative;
    bottom: 25px;
    z-index: 2;
    
}
